$container-layout-padding: 40px 20px 40px 20px;

.how-to-layout {
    background-color: white;
    padding: $container-layout-padding;

    &__list {
        @include row-list-layout();
    }
}

.restaurants-layout {
    background-color: #F7F7F7;
    padding: $container-layout-padding;

    &__list {
        @include row-list-layout();
    }
}