$header-main-height: 65px;

.header-main {
    height: $header-main-height;
    box-shadow: $box-shadow;

    &__title {
        text-align: center;
        @include text-center-vertically($header-main-height);
    }
}