.card {
    display: flex;
    flex-direction: column;
    height: 255px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: $box-shadow;
    color: black;

    // animation
    @include opacity-transition();
    @include box-shadow-transition();

    @include hover-shadow();

    &__image {
        @include size(100%, 70%);
        object-fit: cover;
    }

    &__status {
        font-weight: bold;
        @include text-center-vertically(32px);
        @include button($colour-green, $colour-lightgreen, 4px);
        position: absolute;
        top: 20px;
        right: 20px;
    }

    &__wrapper {
        height: 30%;
        padding: 0px 20px;
        background: #fff;
        @include flex(row, space-between, center);

        .card__content {
            @include flex(column, flex-start, flex-start);

            .card__title {
                @include text(16px, bold);
            }
        
            .card__description {
                @include text(14px, lighter);
            }
        }
    }
}

.fa-heart {
    color: gray;
    @include transition(color, 0.4s, ease-in-out);
}

.fa-heart:hover {
    color: $colour-primary;
    content: "\f004";
    font-weight: 900;
}