.gradient-button {
    @include button(white, linear-gradient(180deg, $colour-primary, $colour-secondary 100%));
    text-align: center;
    font-weight: bold;
    @include text-center-vertically(48px);

    border: none;
    box-shadow: $box-shadow;

    &:active {
        background: linear-gradient(180deg, $colour-secondary, $colour-primary 100%);
    }

    @include hover-shadow();
}

