$step-size: 25px;
$half-step-size: $step-size / 2;


.how-to-button {
    height: 72px;
    border-radius: 20px;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    box-shadow: $box-shadow;

    &__title {
        @include text(16px, bold);
    }

    &__step {
        @include circle($step-size);
        background-color: $colour-primary;
        margin-left: -$half-step-size;
        text-align: center;
        color: white;
        font-weight: bold;
    }

    &:active {
        background-color: #F5EDFF;
        color: $colour-primary;
    }
}