// make a loader with 3 dots 
.loader {
    @include flex(column, center, center);
    @include size(100%, 100%);
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    animation: loader 3s ease-in-out;
    pointer-events: none;
    opacity: 0;
    &__wrapper {
        @include flex(row, center, center);
        
        @for $i from 1 through 3 {
            .loader__dot:nth-child(#{$i}) {
                @include size(30px, 30px);
                border-radius: 50%;
                background-color: #9356DC;
                margin: 0 5px;
                animation: dot 1s 3s ease-in-out;
                opacity: 0;
                animation-delay: ($i - 1) + 0.2s;
            }
        }
    }
} 

@keyframes dot {
    0% {
        background-color: #9356DC;
        transform: scale(0);
        opacity: 0;
    }
    35% {
        background-color: #FF79DA;
    }
    50% {
        transform: scale(1.5);
        opacity: 1;
    }
    75% {
        background-color: #99E2D0;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes loader {
    from { opacity: 1;} 
    to { opacity: 1; }
}
