$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;

$colour-green: #0A8D6E;
$colour-lightgreen: #99E2D0;

$icon-size: 24px;

$font-family: 'Roboto', sans-serif;

$lighter-opacity: 0.95;

$box-shadow: 2px 2px 3px gray;
$box-shadow-dark: 2px 2px 3px black;